<h2>List of Users</h2>
<hr />
<div class="cardContainer">
  <div class="card card-filled-header" *ngFor="let user of usersResponse?.data">
    <div class="card-header">
      {{ user.first_name + " " + user.last_name }}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <img class="avatar" [src]="user.avatar" alt="avatar" />
        </div>
        <div class="col-10">
          <p>
            ID: <b>{{ user.id }}</b>
          </p>
          <p>
            Email: <b>{{ user.email }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
